.container {
  padding: 0 2rem;
  background-color: #65b5f4;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.row .card {
  background: #083a61;
  padding: 2rem 4rem;
  border-radius: 10px;
}

.label {
  color: #fff !important;
}

.submit,
.submit:hover,
.submit:active,
.submit:focus {
  background-color: #65b5f4;
  padding: 0.5rem 5rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0 3rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.nav {
    background-color: #65b5f4 !important;
}

.nav_link {
    color: #083a61 !important;
    font-size: 1.25rem !important;
}